<div class="container">
  <h2>User Settings</h2>

  <form action="" #form="ngForm" (ngSubmit)="onSubmit(form)">

    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" name="name" class="form-control"
             [class.field-error]="form.submitted && nameField.invalid"
             placeholder="Name"
             type="text" [(ngModel)]="userSettings.name" required
             (blur)="onBlur(nameField)"
             #nameField="ngModel">
      <div [hidden]="nameField.valid || !form.submitted"
           class="alert alert-danger">Enter a name
      </div>
    </div>

    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input type="text" placeholder="Start Date" class="form-control"
             [(ngModel)]="startDate" name="startDate" id="startDate"
             bsDaterangepicker>
    </div>

    <div class="form-group">
      <label for="startTime">Start Time</label>
      <timepicker id="startTime" [(ngModel)]="startTime" name="startTime"></timepicker>
    </div>

    <div class="form-group">
      User Rating
      <rating [(ngModel)]="userRating" [max]="maxRating" [readonly]="isReadonly"
              name="userRating" id="userRating"
              [titles]="['one','two','three']"></rating>
    </div>

    User Rating : {{ userRating }}

    <button class="btn btn-primary" type="button" [(ngModel)]="singleModel"
            btnCheckbox btnCheckboxTrue="On" btnCheckboxFalse="Off"
            name="singleModel">{{ singleModel }}
    </button>

    <div class="form-check form-group">
      <input type="checkbox" class="form-check-input" id="email-offers"
             name="email-offers" [(ngModel)]="userSettings.emailOffers">
      <label for="email-offers" class="form-check-label">
        Email Special Offers
      </label>
    </div>

    <h5>User Interface Style</h5>
    <div class="form-group">
      <div class="btn-group">
        <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle"
               name="interfaceStyle" btnRadio="Light" tabindex="0"
               role="button">Light</label>
        <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle"
               name="interfaceStyle" btnRadio="Medium" tabindex="0"
               role="button">Medium</label>
        <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle"
               name="interfaceStyle" btnRadio="Dark" tabindex="0" role="button">Dark</label>
      </div>
    </div>

    <div class="form-group">
      <label for="subscription-type">Subscription Type</label>
      <select name="subscription-type" id="subscription-type"
              class="form-control" [(ngModel)]="userSettings.subscriptionType">
        <option
          *ngFor="let type of (subscriptionTypes$ | async)">{{ type }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea name="notes" id="notes" rows="3" class="form-control"
                [(ngModel)]="userSettings.notes">
      </textarea>
    </div>

    <div [hidden]="!postError" class="alert alert-danger">
      {{ postErrorMessage }}
    </div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>
