<div class="container">
  <h2>User Settings</h2>

  <form action="" #form="ngForm" (ngSubmit)="onSubmit(form)">

    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" name="name" class="form-control"
             [class.field-error]="form.submitted && nameField.invalid"
             placeholder="Name"
             type="text" [(ngModel)]="userSettings.name" required
             (blur)="onBlur(nameField)"
             #nameField="ngModel">
      <div [hidden]="nameField.valid || !form.submitted"
           class="alert alert-danger">Enter a name
      </div>
    </div>

    <div class="form-check form-group">
      <input type="checkbox" class="form-check-input" id="email-offers"
             name="email-offers" [(ngModel)]="userSettings.emailOffers">
      <label for="email-offers" class="form-check-label">
        Email Special Offers
      </label>
    </div>

    <h5>User Interface Style</h5>
    <div class="form-group">
      <div class="form-check">
        <input type="radio" class="form-check-input" id="light-interface"
               name="interface-style" value="light" checked
               [(ngModel)]="userSettings.interfaceStyle">
        <label for="light-interface" class="form-check-label">Light</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="medium-interface"
               name="interface-style" value="medium"
               [(ngModel)]="userSettings.interfaceStyle">
        <label for="medium-interface" class="form-check-label">Medium</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="dark-interface"
               name="interface-style" value="dark"
               [(ngModel)]="userSettings.interfaceStyle">
        <label for="dark-interface" class="form-check-label">Dark</label>
      </div>
    </div>

    <div class="form-group">
      <label for="subscription-type">Subscription Type</label>
      <select name="subscription-type" id="subscription-type"
              class="form-control" [(ngModel)]="userSettings.subscriptionType">
        <option *ngFor="let type of (subscriptionTypes$ | async)">{{ type }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea name="notes" id="notes" rows="3" class="form-control"
                [(ngModel)]="userSettings.notes">
      </textarea>
    </div>

    <div [hidden]="!postError" class="alert alert-danger">
      {{ postErrorMessage }}
    </div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>

{{ userSettings | json }}
